<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teamjly.mapper.attendMapper">
	<select id="list" resultType="AttendVO">
		select * from tbl_attend where ano >0
	</select>
	
	<insert id="create" parameterType="AttendVO">
		 insert into tbl_attend (bno,mno) values (#{bno},#{mno})
	</insert>
	
	<select id="read" resultType="AttendVO">
		select * from tbl_attend where ano= #{ano}
	</select>
	
	<update id="update" parameterType="AttendVO">
		update tbl_attend set bno= #{bno}, mno= #{mno} where ano= #{ano}
	</update>
	
	<delete id="delete">
		delete from tbl_attend where ano= #{ano} 
	</delete>
</mapper>