<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.teamjly.mapper.MosaicMapper">

	<insert id="create" parameterType="MosaicVO">
		insert into tbl_mosaic(bno, mosaicimage)
		values(#{bno}, #{mosaicimage})
	</insert>
	
	<select id="read" resultType="MosaicVO">
	 select * from tbl_mosaic where ino = #{ino}
	</select>

	<update id="update" parameterType="MosaicVO">
		update tbl_mosaic set mosaicimage = #{mosaicimage} where ino = #{ino};
	</update>
	
	<delete id="delete">
		delete from tbl_mosaic where ino = #{ino}
	</delete>

	<select id="list" resultType="MosaicVO">
		select * from tbl_mosaic
	</select>
	
</mapper>