<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teamjly.mapper.NoticeMapper">

	<insert id="create">
		insert into tbl_notice (title , content , mno) values ( #{title} , #{content} , #{mno});
	</insert>
	
	<select id="read" resultType="NoticeVO"> 
		select * from tbl_notice where nno = #{nno}
	</select>

	<update id="update">
		update tbl_notice set title = #{title} , content = #{content} , writer = #{writer} , views = #{views} , updatedate = now() where nno = #{nno}
	</update>


	<delete id="delete">
		delete from tbl_notice where nno =  #{nno} 
	</delete>
	
	<select id="list" resultType="NoticeVO">
		select t1.nno, t1.title, t2.id, t1.views, t1.regdate, t1.updatedate from (
select *  from tbl_notice) t1, tbl_member t2 
where t1.mno = t2.mno
	</select>






</mapper>
